app = "deadpigeon-web"
primary_region = "arn"

[build]
dockerfile = "Dockerfile"

[env]
VITE_API_URL = "https://deadpigeon-api.fly.dev"

[[services]]
internal_port = 80
protocol = "tcp"

[services.concurrency]
type = "connections"
soft_limit = 20
hard_limit = 25

[[services.ports]]
port = 80
handlers = ["http"]

[[services.ports]]
port = 443
handlers = ["tls", "http"]
